<h2>All Blogs</h2>

<ul>
  <% @blogs.each do |blog| %>
    <li><%= link_to blog.title, blog %> <%= link_to "Edit", edit_blog_path(blog) %> <%= link_to "Delete", blog, method: :delete %> <%= button_to blog.status, toggle_status_blog_path(blog) %></li>
  <% end %>
</ul>