<div class="col-sm-8 blog-main">
  <%= render @blogs %>
  <nav class="blog-pagination">
    <a href="#" class="btn btn-outline-primary">Previous</a>
    <a href="#" class="btn btn-outline-secondary disabled">Next</a>
  </nav>
</div>
<%= render "shared/blog_sidebar" %>
