<h2 class="text-center">I'd love to hear from you.</h2>
<hr>
<div class="row">
  <div class="col-12 col-md-5">
    <h3>Office Address</h3>
    <p>West Lake Ave, Glenview, Illinois</p>

    <h3>Phone</h3>
    <p>224-123-456</p>

    <h3>Email</h3>
    <p>dev@example.com</p>
  </div>

  <div class="col-12 col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47376.661371337555!2d-87.86104337424196!3d42.085163876857685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fc7e07a78646f%3A0x58dae4b8989413ea!2sGlenview%2C%20IL!5e0!3m2!1sen!2sus!4v1660261092086!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>