<h1>Projects</h1>

<% @projects.each do |project| %>
  <p><%= project.title %></p>
  <p><%= project.sub_title %></p>
  <p><%= project.description %></p>
  <p><%= image_tag project.thumb_image_file_name %></p>
<% end %>